{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hub/style.css' %}">
    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'ckeditor5/ckeditor.js' %}"></script>
    <title>Hazo Hub</title>
    <style>
        body { height: 100vh; overflow-y: hidden; }
        h1 { font-size: 14px; padding: 4px 8px; margin: 2px; }
        .nav { height: 35px; }
        .main { height: calc(100vh - 35px); }
    </style>
    <script src="{% static 'hub/dict.js' %}"></script>
</head>
<body>
    <nav class="nav thin-border background-gradient-1 horizontal-flexbox space-between stick-to-top">
        <div class="horizontal-flexbox">
            <a class="button" href="{% url 'index' %}">Back to Hub</a>
            <form method="GET">
                <input type="search" name="filter" id="filter" autofocus
                    hx-get="{% url 'dictentryfilteredlist' %}"
                    hx-trigger="keyup delay:300ms changed"
                    hx-target="#entry-list">
                <button type="submit">Filter Entries</button>
            </form>
        </div>
        <h1>Dictionary</h1>
        <div>
            <form class="display-contents" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="new-entry" id="new-entry-hidden" class="invisible">
                <input type="file" name="csv-file" id="csv-file">
                <button type="submit" name="import-csv">Import CSV</button>
            </form>
            <a class="button" href="/admin">Go to Administration</a>
        </div>
    </nav>
    <form name="main" class="main form-grid" method="POST">
        {% csrf_token %}
        <div id="entry-list" class="scroll">
            {% include 'hub/fragments/dict_list.html' %}
        </div>
        <div>
            <div id="entry-details">
                {% include 'hub/fragments/dict_details.html' %}
            </div>
        </div>
    </form>
</body>