{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hub/style.css' %}">
    <title>Document</title>
    <style>
        h1 { font-size: 14px; padding: 4px 8px; margin: 2px; }
    </style>
</head>
<body>
    <nav class="thin-border background-gradient-1 horizontal-flexbox space-between">
        <a class="button" href="{% url 'index' %}">Back to Hub</a>
        <h1>Identification</h1>
        <a class="button" href="/admin">Go to Administration</a>
    </nav>
    <section class="medium-padding">
        {% if not toplevel %}
        <a class="button" href="{% url 'characterslist' file_name %}">Top characters</a>
        {% endif %}
        <ul>
        <form method="POST">
            {% csrf_token %}
            <h2>Selected states</h2>
            {% for state in selected_states %}
                <button class="horizontal-flexbox" title="Unselect" name="unselect-state" value="{{ state.item_id }}">{{ state.item__name }}<div class="close"></div></button>
            {% endfor %}
        </form>
        </ul>
        <div class="horizontal-flexbox">
            <section class="flex-grow-2 medium-margin medium-padding">
                <h2>Select a character</h2>
                <ul class="horizontal-flexbox flex-wrap relative">
                {% for character in characters %}
                    <li class="medium-square relative vertical-flexbox full-background thin-border white-background medium-padding medium-margin"
                            style="background-image: url('{{ character.img }}');">
                        {{ character.name }}
                        <ul class="no-list-style">
                        {% for lang, text in character.names.items %}
                            <li>{{ text }}</li>
                        {% endfor %}
                        </ul>
                        <div class="button-group">
                            <a class="button background-color-1" href="{% url 'stateslist' file_name character.id %}">Choose</a>
                            {% if character.hasChildren %}
                            <a class="button" href="{% url 'characterslistin' file_name character.id %}">Open</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>
            <section class="flex-grow-1 medium-margin medium-padding">
                <h2 class="nowrap">Matching taxons ({{ matches|length }})</h2>
                <ul>
                {% for taxon in matches %}
                    <li>{{ taxon.name }}</li>
                {% endfor %}
                </ul>
            </section>
        </div>
    </section>
</body>
</html>